<div>
    <nav class = "navigation-bar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/home']" *ngIf="true" >Home</a></li>
                <li><a [routerLink]="['/causes']" *ngIf = "isLoggedIn" >All Causes</a></li>
                <li><a [routerLink]="['/createCuase']"  *ngIf = "isLoggedIn">Create Cause</a></li>

                <li><a [routerLink]="['/causesMap']"  *ngIf = "isLoggedIn">Causes Map</a></li>

                <li><a [routerLink]="['/login']" *ngIf = "!isLoggedIn" >Login</a></li>
                <li><a [routerLink]="['/register']" *ngIf = "!isLoggedIn">Register</a></li>
                <li><a *ngIf = "isLoggedIn" (click)="logout()" >Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <footer-component></footer-component>
</div>