<div>
    <nav class = "navigation-bar">
        <p class="logo pull-left">causify</p>
        <div class="container-fluid">
            <ul class="nav navbar-nav pull-right">
                <li><a [routerLink]="['/home']" *ngIf="true" >Home</a></li>
                <li><a [routerLink]="['/causes']" *ngIf = "hasAuth" >Explore</a></li>
                <li><a [routerLink]="['/createCause']"  *ngIf = "hasAuth">Start Cause</a></li>
                <li><a [routerLink]="['/causesMap']"  *ngIf = "hasAuth">Causes Map</a></li>
                <li><a [routerLink]="['/login']" *ngIf = "!hasAuth" >Login</a></li>
                <li><a [routerLink]="['/register']" *ngIf = "!hasAuth">Register</a></li>
                <li><a [routerLink]="['/userProfile']" *ngIf = "hasAuth">Profile</a></li>
                <li><a *ngIf = "hasAuth" (click)="logout()" >Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <footer-component></footer-component>
</div>