<form (ngSubmit)="createCause()">
  <div>
    <label class="input">Title:</label>
    <input type="text"
           [(ngModel)]="causeData.title"
           ngModel minlength="5"
           ngModel maxlength="20"
           name="title"
           placeholder="Cause Title"
           required/>
  </div>

  <div>
    <label class="input">Image:</label>
    <input type="text"
           [(ngModel)]="causeData.imageUrl"
           name="imageUrl"
           placeholder="Image Url"
           required/>
  </div>

  <div class="box">
    <label class="input">Description:</label>
    <textarea cols="30" rows="10"
              [(ngModel)]="causeData.description"
              ngModel minlength="20"
              ngModel maxlength="400"
              name="description"
              placeholder="Cause description"
              required></textarea>
  </div>

  <div>
    <label class="input">Duration:</label>
    <select>
        <option *ngFor="let key of durations" [value]="key" [label]="posibleDurations[key]"></option>
      </select>
  </div>

  <div>
    <label class="input">Start date:</label>
    <input type="date"
           [(ngModel)]="causeData.startDate"
           name="title"
           placeholder="Cause Start date"
           required/>
  </div>

  <div>
    <label class="input">Category:</label>
    <select>
        <option *ngFor="let key of categories" [value]="key" [label]="posibleCategories[key]" ></option>
      </select>
  </div>
  <input type="submit" value="Create Cause">
</form>