<form action="#">
  <div>
    <label>Tilte:</label>
    <!--[(nhModule)]="title"-->
    <input type="text" placeholder="Cause Title" required/>
  </div>

  <div>
    <label>Image:</label>
    <!--[(nhModule)]="imageUrl"-->
    <input type="text" placeholder="Image Url" required/>
  </div>

  <div>
    <label>Description:</label>
    <!--[(nhModule)]="description"-->
    <textarea cols="30" rows="10" placeholder="Cause description" required></textarea>
  </div>

  <div>
    <label>Duration:</label>
    <!--[(nhModule)]="duration"-->
    <input type="text" placeholder="Duration" required/>
  </div>

  <div>
    <label>Start date:</label>
    <!--[(nhModule)]="startDate"-->
    <input type="text" placeholder="Cause Start date" required/>
  </div>

  <div>
    <label>Category:</label>
    <!--[(nhModule)]="category"+-->
    <input type="text" placeholder="Cause Category" required/>
  </div>
  <input type="submit" value="Create Cause" (click)="createCause()">
</form>