<form (ngSubmit)="createCause()">
  <div>
    <label>Tilte:</label>
    <input type="text" [(ngModel)]="causeData.title" name="title" placeholder="Cause Title" required/>
  </div>

  <div>
    <label>Image:</label>
    <input type="text" [(ngModel)]="causeData.imageUrl" name="title" placeholder="Image Url" required/>
  </div>

  <div>
    <label>Description:</label>
    <textarea cols="30" rows="10" [(ngModel)]="causeData.description" name="title" placeholder="Cause description" required></textarea>
  </div>

  <div>
    <label>Duration:</label>
    <select>
        <option *ngFor="let key of durations" [value]="key" [label]="posibleDurations[key]"></option>
      </select>
  </div>

  <div>
    <label>Start date:</label>
    <input type="text" [(ngModel)]="causeData.startDate" name="title" placeholder="Cause Start date" required/>
  </div>

  <div>
    <label>Category:</label>
    <input type="text" [(ngModel)]="causeData.category" name="title" placeholder="Cause Category" required/>
  </div>
  <input type="submit" value="Create Cause">
</form>